@model LMS_MVC.Models.Author1

@{
    ViewData["Title"] = "Details";
}


<div>
    <h4>Author details</h4>
    <hr />

   <table width="500px;">
         <dl class="row">
        <tr>
            <td>
                 <dt class = "col-sm-2">
                    @Html.DisplayNameFor(model => model.AuthorName)
                </dt>
            </td>
            <td>
                 <dd class = "col-sm-10">
                    @Html.DisplayFor(model => model.AuthorName)
                </dd>
            </td>
            <td rowspan="4">
                <dd class = "col-sm-10">
                  <img src="@Html.DisplayFor(model => model.ImagePath)" height="200oox;" width="200px;" />  
                </dd>
            </td>
        </tr>
        <tr>
            <td>
                 <dt class = "col-sm-2">
                    @Html.DisplayNameFor(model => model.Address)
                </dt>
            </td>
            <td>
                 <dd class = "col-sm-10">
                    @Html.DisplayFor(model => model.Address)
                </dd>
            </td>
        </tr>
        <tr>
            <td>
                 <dt class = "col-sm-2">
                    @Html.DisplayNameFor(model => model.PhoneNumber)
                </dt>
            </td>
            <td>
                 <dd class = "col-sm-10">
                    @Html.DisplayFor(model => model.PhoneNumber)
                </dd>
            </td>
        </tr>
        <tr>
            <td>
                <dt class = "col-sm-2">
                    @Html.DisplayNameFor(model => model.Email)
                </dt>
            </td>
            <td>
                <dd class = "col-sm-10">
                    @Html.DisplayFor(model => model.Email)
                </dd>
            </td>
        </tr>
    </table>
    <hr />       
       
       
       
       
       
        
       
        
        @*<dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ImagePath)
        </dt>*@
       
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.ID" class="btn btn-primary">Update</a> |
    <a asp-action="Index" class="btn btn-primary">Back to List</a>
</div>
