@model LMS_MVC.Models.Membership

@{
    ViewData["Title"] = "Details";
}


<div>
    <h4>Membership Details</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StudentRollNo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StudentRollNo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FullName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FullName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MembershipIssueDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MembershipIssueDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MembershipEndDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MembershipEndDate)
        </dd>
    </dl>
</div>
<div>
    @*<a asp-action="Edit" asp-route-id="@Model?.Id" class="btn btn-primary">Edit</a>*@ &ensp;
    <a asp-action="Index" class="btn btn-primary">Back to List</a>
</div>
