@model IEnumerable<LMS_MVC.Models.Student>

@{
    ViewData["Title"] = "Index";
}

<h5>Student Details</h5>

<p>
    <a asp-action="Create" class="btn btn-primary">New Student Entry</a>
   @* <a asp-action="ViewAll">View All Student</a>*@
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.StudentRollNo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StudentName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Department)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Semester)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StudentContact)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StudentEmail)
            </th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.StudentRollNo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StudentName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Department)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Semester)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StudentContact)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StudentEmail)
            </td>
            <td>
               <a asp-action="Edit" asp-route-id="@item.StudentID" class="btn btn-primary">Edit</a> 
               <a asp-action="Details" asp-route-id="@item.StudentID" class="btn btn-primary">Details</a> 
                <a asp-action="Delete" asp-route-id="@item.StudentID" class="btn btn-primary">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
