@model IEnumerable<LMS_MVC.Models.Student>

@{
    ViewData["Title"] = "Index";
}

<h5 >Student Details</h5>

<p>
    <a asp-action="Create" class="btn btn-primary">New Student Entry</a>
  &ensp;&ensp;&emsp;&emsp; &ensp;&ensp;&emsp;&emsp; &ensp;&ensp;&emsp;&emsp;
    &ensp;&ensp;&emsp;&emsp; &ensp;&ensp;&emsp;&emsp; &ensp;&ensp;&emsp;&emsp;
     &ensp;&ensp;&emsp;&emsp; &ensp;&ensp;&emsp;&emsp; 
   
    &ensp;&ensp;&emsp;&emsp; &ensp;&ensp;&emsp;&emsp; &ensp;&ensp;&emsp;&emsp;
    &ensp;&ensp;&emsp;&emsp; &ensp;&ensp;&emsp;&emsp; &ensp;&ensp;&emsp;&emsp;
    <input type="text" id="searchInput" placeholder="Search by Name" >
</p>


@section scripts {
    <script>
        $(document).ready(function () 
        {
            $("#searchInput").on("keyup", function () {
                var searchText = $(this).val().toLowerCase();
                $("tbody tr").filter(function () {
                    $(this).toggle($(this).text().toLowerCase().indexOf(searchText) > -1)
                });
            });
        });
    </script>
}

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.StudentRollNo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StudentName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Department)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Semester)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StudentContact)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StudentEmail)
            </th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.StudentRollNo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StudentName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Department)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Semester)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StudentContact)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StudentEmail)
            </td>
            <td>
               <a asp-action="Edit" asp-route-id="@item.StudentID" class="btn btn-primary">Edit</a> 
               <a asp-action="Details" asp-route-id="@item.StudentID" class="btn btn-primary">Details</a> 
                <a asp-action="Delete" asp-route-id="@item.StudentID" class="btn btn-primary">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
