@model IEnumerable<LMS_MVC.Models.Book>

@{
    ViewData["Title"] = "Index";
}

<h5> Book Details</h5>


<a asp-action="Create" class="btn btn-primary" >New Entry</a>


<table class="table" >
    <thead>
        <tr>
            <th>
               @Html.DisplayNameFor(model => model.BookName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AuthorName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PublicationName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PurchaseDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Quantity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BookLocation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RemainingQuantity)
            </th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
               <b> @Html.DisplayFor(modelItem => item.BookName)</b>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AuthorName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PublicationName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PurchaseDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Quantity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BookLocation)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RemainingQuantity)
            </td>
           <td>
                <a  asp-action="Edit" asp-route-id="@item.BookId"  >Update</a> 
               <a  asp-action="Details" asp-route-id="@item.BookId"  >Detail</a> 
              <a  asp-action="Delete" asp-route-id="@item.BookId"  >Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
