@model IEnumerable<LMS_MVC.Models.BookIssueReturn>

@{
    ViewData["Title"] = "Index";
}



<p>
    <a asp-action="Create" class="btn btn-primary">Issue Book</a>&nbsp;&nbsp;&nbsp;
   <a asp-action="History" class="btn btn-primary">View History</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.RollNo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Departmet)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BookIssueDate)
            </th>
            <th>
                @Html.DisplayNameFor(model=>model.ActualReturnDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BookReturnDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Book)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.RollNo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Departmet)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BookIssueDate)
            </td>
             <th>
                @Html.DisplayFor(model=>item.ActualReturnDate)
            </th>
            <td>
                @Html.DisplayFor(modelItem => item.BookReturnDate)
            </td>
            <td>

                <b>@Html.DisplayFor(modelItem => item.Book.BookName)</b>
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-primary">Return Book</a>
                
                 <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-primary">Details</a> 
              
            </td>
        </tr>
}
    </tbody>
</table>
